@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/font/Outfit-SemiBold.ttf') format('truetype');
  /* font-weight: 600; */
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 75%;
  /* height: 100%; */
  color-scheme: dark;
  --bs-body-color: #eceeef;
  --bs-body-color-rgb: 236, 238, 239;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(236, 238, 239, 0.75);
  --bs-secondary-color-rgb: 236, 238, 239;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(236, 238, 239, 0.5);
  --bs-tertiary-color-rgb: 236, 238, 239;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #aedace;
  --bs-secondary-text-emphasis: #f8c0c2;
  --bs-success-text-emphasis: #9ae0c4;
  --bs-info-text-emphasis: #a7dbe6;
  --bs-warning-text-emphasis: #ffe2a4;
  --bs-danger-text-emphasis: #ffae97;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #eceeef;
  --bs-primary-bg-subtle: #182723;
  --bs-secondary-bg-subtle: #311e1f;
  --bs-success-bg-subtle: #11291f;
  --bs-info-bg-subtle: #16272b;
  --bs-warning-bg-subtle: #332915;
  --bs-danger-bg-subtle: #331810;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #487468;
  --bs-secondary-border-subtle: #925a5c;
  --bs-success-border-subtle: #347a5e;
  --bs-info-border-subtle: #417580;
  --bs-warning-border-subtle: #997c3e;
  --bs-danger-border-subtle: #994831;
  --bs-light-border-subtle: #5a5a5a;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #aedace;
  --bs-link-hover-color: #bee1d8;
  --bs-link-color-rgb: 174, 218, 206;
  --bs-link-hover-color-rgb: 190, 225, 216;
  --bs-code-color: #f18bba;
  --bs-highlight-color: #eceeef;
  --bs-highlight-bg: #665229;
  --bs-border-color: #5a5a5a;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #9ae0c4;
  --bs-form-valid-border-color: #9ae0c4;
  --bs-form-invalid-color: #ffae97;
  --bs-form-invalid-border-color: #ffae97;
  --bs-success-text-emphasis-rgb: 154, 224, 196;
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: rgba(var(--bs-success-text-emphasis-rgb), 0.5) !important
}

.accordion {
  --bs-accordion-active-color: var(--bs-body-bg);
  --bs-accordion-active-bg: rgba(var(--bs-success-text-emphasis-rgb), 0.75);
}

.accordion-collapse {
  background-color: rgba(var(--bs-emphasis-color-rgb), 0.05);
}

tr.row-hover>td,
tr.row-hover>th {
  background-color: rgba(var(--bs-success-text-emphasis-rgb), 0.5) !important;
}

tr.row-active>td,
tr.row-active>th {
  color: var(--bs-body-bg);
  background-color: var(--bs-success-text-emphasis) !important;
}

tr.table-row>td,
tr.table-row>th {
  cursor: pointer;
}

.status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-cell {
  text-align: center;
}

.header-status {
  border: 2px solid #6c757d;
  background-color: transparent;
}

.password-inline {
  box-sizing: border-box;
  height: 24px;
  min-height: 24px;
  padding: 0;
  margin: -4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.spin-slow {
  display: inline-block;
  animation: spin 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.greyscale {
  filter: grayscale(100%);
}

.title {
  font-family: 'Outfit';
  font-size: 2rem;
  font-weight: 400;
  color: var(--bs-primary-text-emphasis);
  user-select: none;
}